.menu{
    width: 205px;    
    height: 100vh;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    overflow: auto; 

    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 30px 30px;
    }

    &_green{
        background: rgba(43, 228, 10, 0.333)
    }

    &_pink{
        background: pink;
    }

    &_yellow{
        background: yellow;
    }

    &_salmon{
        background: salmon
    }
}